all = false
allow-same-version = false
audit = true
audit-level = info
color = always
engine-strict = true
force = false
fund = false
if-present = true
loglevel = notice
progress = true
provenance = true
registry = https://registry.npmjs.org/
save-prefix = ""
shell = bash
strict-ssl = false
resolution-mode = highest
disallow-workspace-cycles = true
